body {
    background-color: #010101;
    margin: 0;
    font-family: euclid_circular_a, arial, source sans pro, helvetica neue, helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #bcceffa3;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #323848;
}